@(user : Option[controllers.Application.UserData], roles : List[(String, String)], jobs : List[controllers.JobRegistry.JobStatus])

@main("Site admin", user) {
    <h1>Site admin</h1>
   
    <h4>Running jobs</h4>
    <table>
        <tr><th>Job id</th><th>Name</th><th>Progress</th><th>Status</th><th>Start time</th><th>End time</th></tr>
        @jobs.map( j => {
            <tr>
                <td>{j.id}</td>
                <td>{j.name}</td>
                <td>{"%.1f%%".format( j.progress.toDouble * 100.0 )}</td>
                <td>{j.status}</td>
                <td>{j.startTime}</td>
                <td>{j.endTime}</td>
            </tr>
        } )
    </table>
   
    <h4>User added roles</h4>
    <table>
    <tr><th>User name</th><th>Role url</th></tr>
    @roles.map( r => {
        <tr>
            <td>{r._1}</td>
            <td><a href={r._2}>{r._2}</a></td>
        </tr>
    } )
    </table>


    <a href="/">Home</a>
}
