@(globalData : controllers.Application.GlobalData, user : Option[controllers.Application.UserData], roles : List[(Long, String, String)], jobs : List[controllers.JobRegistry.JobStatus])

@main("Site admin", globalData, user) {
    <h1>Site admin</h1>
    
    <h4>Running jobs</h4>
    <table>
        <tr><th>Job id</th><th>Name</th><th>Progress</th><th>Status</th><th>Start time</th><th>End time</th></tr>
        @jobs.map( j => {
            <tr>
                <td>{j.id}</td>
                <td>{j.name}</td>
                <td>{"%.1f%%".format( j.progress.toDouble * 100.0 )}</td>
                <td>{j.status}</td>
                <td>{j.startTime}</td>
                <td>{j.endTime}</td>
            </tr>
        } )
    </table>
    
    <h4>Start jobs</h4>
    <p>
        <a href="@routes.Application.pullUsersJob">Pull users and tags</a>
        <a href="@routes.Application.rebuildHierarchyJob">Rebuild location hierarchy</a>
        <a href="@routes.Application.backupDbJob">Backup db</a>
    </p>
   
    <h4>User added roles</h4>
    <table>
    <tr><th>User name</th><th>Role url</th></tr>
    @roles.map( r => {
        <tr>
            <td><a href={routes.Application.userPage(r._1).toString}>{r._2}</a></td>
            <td><a href={r._3}>{r._3}</a></td>
        </tr>
    } )
    </table>


    <a href="/">Home</a>
}
