@(globalData : controllers.Application.GlobalData, user : Option[controllers.Application.UserData], nativeUsers : List[(Long, String, java.sql.Timestamp, java.sql.Timestamp, Int)], roles : List[(Long, String, String, Long)], jobs : List[controllers.JobRegistry.JobStatus], flash: Flash)

@main("Site admin", globalData, user, flash) {
    <h1>Site admin</h1>
    
    <h4>Running jobs</h4>
    <table>
        <tr><th>Job id</th><th>Name</th><th>Progress</th><th>Status</th><th>Start time</th><th>End time</th></tr>
        @jobs.map( j => {
            <tr>
                <td>{j.id}</td>
                <td>{j.name}</td>
                <td>{"%.1f%%".format( j.progress.toDouble * 100.0 )}</td>
                <td>{j.status}</td>
                <td>{j.startTime}</td>
                <td>{j.endTime}</td>
            </tr>
        } )
    </table>
    
    <h4>Start jobs</h4>
    <p>
        <a href="@routes.Application.pullUsersJob">Pull users and tags</a>
        <a href="@routes.Application.rebuildHierarchyJob">Rebuild location hierarchy</a>
        <a href="@routes.Application.rebuildLocationsJob">Rebuild locations from Yahoo</a>
        <a href="@routes.Application.rebuildRanksJob">Rebuild rank table</a>
        <a href="@routes.Application.backupDbJob">Backup db</a>
        <a href="@routes.Application.getProfileImagesJob">Get missing profile images</a>
    </p>
    
    <h4>Native users</h4>
    <table>
    <tr><th>User name</th><th>Registration date</th><th>Last login</th><th>Login count</th></tr>
    @nativeUsers.map( r => {
        <tr>
            <td><a href={routes.Application.userPage(r._1).toString}>{r._2}</a></td>
            <td>{r._3.toString}</td>
            <td>{r._4.toString}</td>
            <td>{r._5.toString}</td>
        </tr>
    } )
    </table>
   
    <h4>User added roles</h4>
    <table>
    <tr><th>User name</th><th>Role url</th><th><Company page</th></tr>
    @roles.map( r => {
        <tr>
            <td><a href={routes.Application.userPage(r._1).toString}>{r._2}</a></td>
            <td><a href={r._3}>{r._3}</a></td>
            <td><a href={routes.Application.companyPage(r._4).toString}>Company page</a></td>
        </tr>
    } )
    </table>


    <a href="/">Home</a>
}
