@(globalData : controllers.Application.GlobalData, user : Option[controllers.Application.UserData], companyId : Long, companyName : String, companyInstitutions : List[(String, String, String, Long, Boolean)], flash: Flash)

@main("Overview page for: " + companyName, globalData, user, flash) {
    <h1>Overview page for: @companyName</h1>
    
    <table>
        <tr>
            <th>Action</th>
            <th>Department</th>
            <th>Url</th>
            <th>Location</th>
            <th>Work sector</th>
            <th>Number of users</th>
            <th>Skills</th>
        </tr>
        
        @companyInstitutions.map { case (dept, url, loc, locid, addWatch) =>
            <tr>
                <td>
                    @if(addWatch) {
                        <a href=@{routes.Application.addWatch(companyId, locid).toString}>Watch company</a>
                    }
                </td>
                </td>
                <td>@{dept}</td>
                <td>@{url}</td>
                <td>@{loc} (link to map page)</td>
                <td>cleantech</td>
                <td>1</td>
                <td>C++</td>
            </tr>
        }
    </table>
}
