@(user : Option[controllers.Application.UserData])

@import controllers.Application.UserData

@main("StackFlyOver: StackOverflow users on a map") {
    <div style="position:absolute;top:1%;right:1%">
        @user match {
            case None => {
                <span>
                    <a href="https://stackexchange.com/oauth?client_id=498&redirect_uri=http://www.stackflyover.com/authenticate">
                       Sign in 
                    </a>
                    with your StackOverflow account for more features.
                <span>
            }
            case Some(u) => {
                <span> @u.name: <a href="@routes.Application.logout">Logout</a> </span>
            }
        }
    </div>

    <h1>StackOverflow users on a map</h1>
    

    <p>Zoom in to see more detail. Stars denote high-scoring individuals in that area (click to see who's top). Hover over each icon to see the top five tags in that cluster.</p>
    

    <div id="map_canvas" style="height:80%; width:65%; float:left"></div>
    
    <div id="dynamic" style="width:30%; float:right">
    
    <!-- <h4>Tag filters:</h4>
    <form>
        <input type="text"/>
        <input type="button" value="Add"/>
    </form>
    <br/> -->
    <h4>Click map marker to list local users:</h4>
    <div id="tableWrapper" style="font-size:80%">
    <table cellpadding="0" cellspacing="0" border="0" class="dataTable" id="example">
        <thead>
            <tr>
	            <th width="10%">Reputation</th>
	            <th width="15%">User name</th>
	            <th width="20%">Location</th>
	            <th width="10%">Top tags</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>
    </div>

    <!-- <div style="position:fixed;bottom:1%;right:1%">
        Created by
        <a href="http://stackoverflow.com/users/415313/alex-wilson">
            Alex Wilson
        </a>
    </div> -->
    
}

