@(message: String)

@main("Stack overflow users on a map") {
    
    <h1>Stack overflow users on a map</h1>
    
    <p>Zoom in to see more detail. Stars denote high-scoring individuals in that area (click to see who's top). Hover over each icon to see the top five tags in that cluster.</p>
    
    <div id="map_canvas" style="height:90%; width:65%; float:left"></div>
    
    <div id="dynamic" style="width:30%; float:right">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
	            <th width="20%">Rendering engine</th>
	            <th width="25%">Browser</th>
	            <th width="25%">Platform(s)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>

}
