@(title: String)(content: Html)

<!DOCTYPE html>

<html style="height:100%">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")" type="text/javascript"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_F10Lcod9fDputQVMZOtM4cMMaFbJybU&sensor=false" type="text/javascript">
        </script>
        
        <script type="text/javascript">
        

        // Map showing stats on: # users, # average reputation
        // Filter by tags, filter by match against my tags
      
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(54.0, -2.0),
          zoom: 5,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var markersArray = [];
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      
        google.maps.event.addListener(map, 'idle', function ()
        {
            var bounds = map.getBounds();
            var zoom = map.getZoom();
            var ne = bounds.getNorthEast();
            var sw = bounds.getSouthWest();
            
            var oTable = $('#example').dataTable( {
                "bProcessing": false,
                "bAutoWidth":true,
                "bFilter":false,
                "bInfo":false,
                "bLengthChange":false,
                "sAjaxSource": "@routes.Assets.at("javascripts/tabledata.json")",
                "aoColumns": [
                    { "mDataProp": "reputation" },
                    { "mDataProp": "user_name" },
                    { "mDataProp": "top_tags" },
                    { "mDataProp": "location" }
                ]
            } );
            
            $.getJSON("/mapData?loc="+sw.lat() + "," + sw.lng() + "," + ne.lat() + "," + ne.lng() + "," + zoom,
                function(data)
                {
                    // Clear any existing markers
                    while ( markersArray[0] )
                    {
                        markersArray.pop().setMap(null);
                    }
                    
                    // Add the new markers in
                    $.each(data, function(i, item)
                    {
                        var icon = new google.maps.MarkerImage("http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png");
                        var count = parseInt(item.count);
                        var maxRep = parseInt(item.maxRep);
                        if ( count > 2000 )
                        {
                            icon = new google.maps.MarkerImage( "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m5.png", null, null, new google.maps.Point( 45, 45 ) );
                        }
                        else if ( count > 500 )
                        {
                            icon = new google.maps.MarkerImage( "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m4.png", null, null, new google.maps.Point( 39, 39 ) );
                        }
                        else if ( count > 20 )
                        {
                            icon = new google.maps.MarkerImage( "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m3.png", null, null, new google.maps.Point( 33, 33 ) );
                        }
                        /*else if ( count > 20 )
                        {
                            icon = new google.maps.MarkerImage( "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m2.png", null, null, new google.maps.Point( 28, 28 ) );
                        }*/
                        else if ( count > 1 )
                        {
                            icon = new google.maps.MarkerImage( "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m1.png", null, null, new google.maps.Point( 26, 26 ) );
                        }

                        var marker = new google.maps.Marker( {
                          position: new google.maps.LatLng(item.lat, item.lon),
                          title : item.name, 
                          map: map,
                          icon : icon,
                          zIndex : 0
                        });
                        markersArray.push(marker);
                        
                        var repIcon = "";
                        
                        if ( maxRep > 50000 )
                        {
                            repIcon = "stars4.png";
                        }
                        else if ( maxRep > 10000 )
                        {
                            repIcon = "stars3.png";
                        }
                        else if ( maxRep > 5000 )
                        {
                            repIcon = "stars2.png";
                        }
                        else if ( maxRep > 1000 )
                        {
                            repIcon = "stars1.png";
                        }
                        
                        if ( repIcon != "" )
                        {
                            var infoContent = 
                                '<a href="http://stackoverflow.com/users/' + item.maxRepUid + '">' +
                                '<img src="http://stackoverflow.com/users/flair/' + item.maxRepUid +'.png" width="208" height="58">' +
                                '</a>';
                                
                            var infowindow = new google.maps.InfoWindow({
                                content: infoContent
                            });

                            var base = "@routes.Assets.at("images/")";
                            var markerImageRep = new google.maps.MarkerImage( base + repIcon, null, null, new google.maps.Point( 16, 8 ) );
                            var smarker = new google.maps.Marker( {
                              position: new google.maps.LatLng(item.lat, item.lon),
                              title : item.name, 
                              map: map,
                              icon : markerImageRep,
                              zIndex : 1
                            });
                            
                            google.maps.event.addListener(smarker, 'click', function() {
                              infowindow.open(map,smarker);
                            });
                            
                            markersArray.push(smarker);
                        }
                        
                    } );
                } );
        });

      }
      
      $(document).ready(function() {
            initialize();
        } );
      
        </script>
    
    </head>
    <body style="height:100%; padding-left:1%; padding-right:1%">
        @content
    </body>
</html>
