@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_F10Lcod9fDputQVMZOtM4cMMaFbJybU&sensor=false" type="text/javascript">
        </script>
        
        <script type="text/javascript">
        

        // Map showing stats on: # users, # average reputation
        // Filter by tags, filter by match against my tags
      
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(54.0, -2.0),
          zoom: 5,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var markersArray = [];
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        
        /*var markers = [];
        for (var i = 0; i < 9584; i++) {
          var datapoint = data[i];
          var latLng = new google.maps.LatLng(datapoint.lat,
              datapoint.lon);
          var marker = new google.maps.Marker({
            position: latLng
          });
          markers.push(marker);
        }
        var markerCluster = new MarkerClusterer(map, markers);*/
      
        google.maps.event.addListener(map, 'idle', function ()
        {
            var bounds = map.getBounds();
            var zoom = map.getZoom();
            var ne = bounds.getNorthEast();
            var sw = bounds.getSouthWest();
            
            //loc : sw.lat() + "," + sw.lng() + "," + ne.lat() + "," + ne.lng() + "," + zoom
            $.getJSON("/mapData?loc="+sw.lat() + "," + sw.lng() + "," + ne.lat() + "," + ne.lng() + "," + zoom,
                function(data)
                {
                    // Clear any existing markers
                    while ( markersArray[0] )
                    {
                        markersArray.pop().setMap(null);
                    }
                    
                    // Add the new markers in
                    $.each(data, function(i, item)
                    {
                        var marker = new google.maps.Marker( {
                          position: new google.maps.LatLng(item.lat, item.lon),
                          title : item.name, 
                          map: map
                        });
                    } );
                } );
        });

      }
        </script>
    
    </head>
    <body onload="initialize();">
        @content
    </body>
</html>
