@(title: String, globalData : controllers.Application.GlobalData, user : Option[controllers.Application.UserData], flash : Flash)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="google-site-verification" content="_n-yK1CngmAeOz3xWV-DSBXZliv9nO1FmOma67DlrmQ" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.dataTables.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.0.custom.min.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/token-input.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/token-input-facebook.css")"/>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.idTabs.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.tokeninput.new.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.autocomplete.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/tagCloud.js")" type="text/javascript"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_F10Lcod9fDputQVMZOtM4cMMaFbJybU&sensor=false" type="text/javascript">
        </script>
        <script src="@routes.Assets.at("javascripts/common.js")" type="text/javascript"></script>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-38512822-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    
    <body>
    
    <!-- Facebook SDK -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="wrapper">
        <div class="headercontent">
        
            <div style="float: left; text-align: left">
                <a class="logo" href="@routes.Application.index">StackNative</a>
            </div>
        
           <div style="float:right; text-align: right">
           @user match {
                case None => {
                    <span>
                        <a href="https://stackexchange.com/oauth?client_id=498&redirect_uri=@globalData.baseUrl/authenticate">
                           Sign in 
                        </a>
                        with your SO account for more features.
                    </span>
                }
                case Some(u) => {
                    <span> <a href="@routes.Application.userHome">@u.name</a>: <a href="@routes.Application.logout">Logout</a> </span>
                }
            }
            </div>
            
            <div style="clear: both"></div>
       
        </div>
        
        <div class="flashcontent">
            @{flash.get("failure") match {
                case None => {
                }
                case Some(message) => {
                    <div class="flashfailure">{message}</div>
                }
            }}
            
            @{flash.get("success") match {
                case None => {
                }
                case Some(message) => {
                    <div class="flashsuccess">{message}</div>
                }
            }}
            
            @{flash.get("script") match {
                case None => {
                }
                case Some(scriptBody) =>
                {
                    <script type="text/javascript">{scriptBody}</script>
                }
            }}
        </div>

        <div class="maincontent">
            @content
        </div>
        
        <div class="push"></div>
        
        <div class="footer">
            <div class="footercontent">
            
                <div class="smnav">
                <ul class="social-media-list">
                    <li>
                        <!-- Twitter -->
                        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    <li>

                    <li>
                        <!-- Linked-in -->
                        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                        <script type="IN/Share"></script>
                    </li>
            
                    <li>
                        <script type="text/javascript">
                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                          })();
                        </script>
                    </li>
            
                    <li>    
                        <!-- Facebook -->
                        <div class="fb-like" data-href="http://www.stacknative.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
                    </li>
            
                    <li>
                        <!-- Google plus -->
                        <g:plusone size="small"></g:plusone>
                    </li>
                </ul>
                </div>
                        
                <div style="clear:both"></div>
            
                Created by
                <a href="http://stackoverflow.com/users/415313/alex-wilson">
                    Alex Wilson
                </a>, email: <a href="mailto:stacknative@@gmail.com">stacknative@@gmail.com</a> |
                SO users: @{globalData.numUsers}, Locations: @{globalData.numLocations}, Roles: @{globalData.numRoles}, Institutions: @{globalData.numInstitutions}
                
                <br>
            
                Powered by:
                    <a href="http://www.stackoverflow.com">StackOverflow</a> |
                    <a href="http://www.scala-lang.org/">Scala</a> |
                    <a href="http://www.playframework.com">Play</a> |
                    <a href="http://developer.yahoo.com/boss/geo/">Yahoo placefinder</a>
                    <a href="http://jquery.com">jQuery</a> |
                    <a href="http://loopj.com/jquery-tokeninput/">jQuery Tokeninput</a> |
                    <a href="http://www.sunsean.com/idTabs/">jQuery idTabs</a> |
                    <a href="http://www.datatables.net">jQuery datatables</a> |
                    <a href="http://code.google.com/p/jquery-tagcloud/">jQuery tagcloud</a>
                
            </div>
        </div>
    </div>
    
    
    
    
    </body>
</html>
