@(user : controllers.Application.UserData, refineForm : play.api.data.Form[controllers.SupplementaryData])

@import controllers.Application.UserData

@main("Welcome: @user.name") {
    <h1>Welcome: @user.name</h1>
    

    <p>To help make this site more useful, please enter a few extra details to continue.</p>
    
    @helper.form(action=routes.Application.refineUserAccept) {
        @helper.inputText(refineForm("WorkLocation"), '_label -> "Address of your workplace (a city name is specific enough):")
        @helper.inputText(refineForm("EmployerName"), '_label -> "Name of your employer:")
        @helper.inputText(refineForm("EmployerURL"), '_label -> "Url of your employer:")
        @helper.inputText(refineForm("WorkSector"), '_label -> "Industry sector tags, e.g. Telecoms, Retail etc:")
        
        <input type="submit" value="submit"/>
    }
    
<script type="text/javascript">
    $(document).ready(function() {
        var example = ["First", "Second", "Third", "Fourth"];
        $("#EmployerName").autocomplete( { source : example } );
    } );
</script>
}
