@(globalData : controllers.Application.GlobalData, meUser : Option[controllers.Application.UserData], viewUser : controllers.Application.UserData, isOwner : Boolean, repTable : controllers.Application.RepTable, watches : List[(Long, String, String)], roles : List[controllers.Application.UserRole], flash: Flash)

@main("Home page for: " + viewUser.name, globalData, meUser, flash) {

    <div style="width:100%;height:85%">
        <h1>Home page for: @viewUser.name</h1>
        
        @if(viewUser.profileImage.isDefined) {
            <img src=@{viewUser.profileImage.get}></img>
        }
        
        <h2>Leaderboard</h2>
        <table>
            <tr>
                <th></th>
                @repTable.headings.map { h => <th>@{h.name}</th> }
            </tr>
            @repTable.rankings.map { case (tagNameId, rankings) =>
                <tr>
                    <th>@{tagNameId.name}</th>

                    @rankings.zip( repTable.headings ).map { case (r, h) =>
                        <td><a href=@{routes.Application.rankingsPage(tagNameId.id, h.id, r)}>@{r.toString}</a></td>
                    }
                </tr>
            }
        </table>
        
        <h2>Details</h2>
        
        <table>
            @if( isOwner ) {
                <tr>
                @if( viewUser.email == None) {
                    <div>
                        <th>Please enter your email address to complete registration with the site:</th>
                        
                        <td>
                            <form action=@routes.Application.acceptEmail.toString>
                                Email: <input type="text" name="email"/> <input type="submit" value="Submit"/> </td>
                            </form>
                        </td>
                    </div>
                } else {
                    <th>Your registered email address:</th> <td>@viewUser.email.get. <a href=@{routes.Application.addEmail().toString}>edit</a></td>
                }
                </tr>
            }
            <tr><th>StackOverflow profile:</th> <td><a href=@{"http://stackoverflow.com/users/" + viewUser.uid}>@{viewUser.name}</a></td>
            <tr><th>Website:</th> <td><a href=@{viewUser.url}>@{viewUser.url}</a></td>
            <tr><th>Location:</th> <td>@{viewUser.location}</td>
            <tr><th>Data last updated from Stackoverflow:</th> <td>@{viewUser.lastScanned}</td>
        </table>

        <br/>
        
        @if( isOwner ) {
            <h2>Watched companies</h2>
            <table>
                <tr>
                    <th>Action</th>
                    <th>Company name</th>
                    <th>Company location</th>
                </tr>
                @watches.map { case (watchId, name, location) =>
                    <tr>
                        <td><a href=@{routes.Application.removeWatch(watchId).toString}>Unwatch</a></td>
                        <td>@{name}</td>
                        <td>@{location}</td>
                    </tr>
                }
            </table>
        }
       
        <h2>Roles</h2>
        
        <table>
            <tr>
                <th>Institution</th>
                <th>Department</th>
                <th>Location</th>
                <th>Stack overflow tags</th>
                <th>Institution sector tags</th>
                <th>Actions</th>
            </tr>
        @roles.map( r => {
            <tr>
                <td>
                	<a href={"http://" + r.url}>{r.institutionName}</a>
                </td>
                <td>
                    {r.department}
                </td>
                <td>{r.location}</td>
                <td>
                    <ul class="token-input-list-facebook">
                    {
                        r.soTags.map( tag => <li class="token-input-token-facebook"><p>{tag}</p></li> )
                    }
                    </ul>
                </td>
                <td>
                    <ul class="token-input-list-facebook">
                    {
                        r.sectorTags.map( tag => <li class="token-input-token-facebook"><p>{tag}</p></li> )
                    }
                    </ul>
                </td>
                <td>
                    <a href={routes.Application.deleteUserRole(r.id).toString}>delete</a>
                    <!--<a href={routes.Application.editUserRole(r.id).toString}>edit</a>-->
                </td>
            </tr>
        } )
        </table>

        @if( isOwner ) {
            <a href="/refineUser">Add new role</a>
            <br/>
        }

        <a href="/">Home</a>
        
        <!-- Google Code for Sign in Conversion Page -->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 988089989;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "sgsiCPP5ngQQhZ2U1wM";
            var google_conversion_value = 0;
            /* ]]> */
        </script>
        <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/988089989/?value=0&amp;label=sgsiCPP5ngQQhZ2U1wM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
    </div>
}
