@(user : controllers.Application.UserData, roles : List[controllers.Application.UserRole])

@main("Roles for: " + user.name, Some(user)) {
    <h1>Roles for: @user.name</h1>
   
    <table>
    <tr><th>Institution</th><th>Department</th><th>Location</th><th>Stack overflow tags</th><th>Institution sector tags</th><th>Actions</th></tr>
    @roles.map( r => {
        <tr>
            <td>
            	<a href={r.url}>{r.institutionName}</a>
            </td>
            <td>
                {r.department}
            </td>
            <td>{r.location}</td>
            <td>
                <ul class="token-input-list-facebook">
                {
                    r.soTags.map( tag => <li class="token-input-token-facebook"><p>{tag}</p></li> )
                }
                </ul>
            </td>
            <td>
                <ul class="token-input-list-facebook">
                {
                    r.sectorTags.map( tag => <li class="token-input-token-facebook"><p>{tag}</p></li> )
                }
                </ul>
            </td>
            <td>
                <a href="">delete</a>
                <a href={routes.Application.editUserRole(r.id).toString}>edit</a>
            </td>
        </tr>
    } )
    </table>

    <a href="/refineUser">Add new role</a>

    <br/>

    <a href="/">Home</a>
}
